<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a car.</h1><br>

    <div id="msg"></div>

    <input type="text" id="marca" placeholder="marca..."><br><br>
    <input type="text" id="model" placeholder="model..."><br><br>
    <input type="date" id="an" placeholder="an..."><br><br>
    <input type="text" id="serie_sasiu" placeholder="serie sasiu..."><br><br>
    <input type="text" id="numar_inmatriculare" placeholder="numar de inmatriculare..."><br><br>
    <input type="button" id="btn" value="add..."><br><br>
    
    <script src="views/jquery.js" type></script>
    <script>
        $(document).ready(function() {
            $("#btn").on("click", function() {
                let marca = $("#marca").val();
                let model = $("#model").val();
                let an = $("#an").val();
                let serie_sasiu = $("#serie_sasiu").val();
                let numar_inmatriculare = $("#numar_inmatriculare").val();
                
                $.post("api/api_call.php", { marca: marca, model: model, an: an, serie_sasiu: serie_sasiu, numar_inmatriculare: numar_inmatriculare}, function(msg) {
                    $("#msg").html(msg);
                }).fail(function() {
                    $("#messages").text("erorare.<br>");
                }).always(function() {
                    $("#messages").append("request completat.<br>");
                }).done(function() {
                    $("#messages").append("request realizat cu succes.<br>");
                });
            });
        });
    </script>
</body>
</html>